body {
  font-family: 'Questrial', sans-serif;

  --white: #fff;
  --raisin-black: #212738;
  --cultured-white: #edf2ef;
}

.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 30rem 1fr;

  &__side-menu {
    background-color: var(--raisin-black);
  }

  &__calendar {
    background-color: var(--cultured-white);
  }
}
